# Ignorar arquivos do sistema
.DS_Store

11_ANALYSIS-NEW/
11_PAPER/

#To files from populations not to push
*.haplotypes.tsv
*.hapstats.tsv
*.distribs
populations.phistats*
*snps.vcf
*.tsv.gz
*.bam
*.calls
*.fa.gz
*.sumstats.tsv